name: Actions on pull requests
on:
  pull_request:
    branches:
      - develop
      - master

jobs:
  pull-request-job:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1 - Checkout repository code
        uses: actions/checkout@v4

      - name: Step 2 - Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Step 3 - Cache Docker images.
        uses: ScribeMD/docker-cache@0.3.7
        with:
          key: docker-${{ runner.os }}

      - name: Step 4 - Build & Test
        run: mvn clean verify -ntp -PIT

  call-codecov-workflow:
    uses: ./.github/workflows/codecov.yml